<ion-header>

  <ion-navbar>
    <ion-title>{{ trip? trip.name: '' }}</ion-title>
    <ion-buttons end *ngIf="!readonly">
      <button ion-button (click)="editTrip()" strong icon-only>
        <span color="primary" showWhen="ios">
          {{ 'EDIT_BUTTON' | translate }}
        </span>
        <ion-icon class="fa fa-pencil fa-w" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="trip">
  <div class="trip-profile" #tripPic [style.backgroundImage]="'url(' + trip.tripPic + ')'">
    <div class="trip-detail" padding>
      <ion-row clear>
        <ion-col>{{trip.description}}</ion-col>
      </ion-row>
      <ion-row clear>
        <ion-col start align-self-center>{{trip.dateFrom | date: "MMM dd"}} - {{trip.dateTo | date: "MMM dd"}}</ion-col>
        <ion-chip color="primary" end>
          <ion-label *ngIf="trip.daysLeft >= 0">{{trip.daysLeft}} day{{trip.daysLeft == 1? '': 's'}} to go</ion-label>
          <ion-label *ngIf="trip.daysLeft <= 0 && trip.daysAgo <= 0">0 days to go</ion-label>
          <ion-label *ngIf="trip.daysLeft <= 0 && trip.daysAgo > 0">{{trip.daysAgo}} day{{trip.daysAgo == 1? '': 's'}} ago</ion-label>
        </ion-chip>
      </ion-row>
    </div>
  </div>
  <ion-toolbar no-border-top class="trip-itinerary">
    <ion-scroll scrollX="true" style="height:45px" >
      <ion-segment [(ngModel)]="itinerary">
        <ion-segment-button value="{{date}}" *ngFor="let date of tripDates;">{{date | date: "MMM dd"}}</ion-segment-button>
      </ion-segment>
    </ion-scroll>
  </ion-toolbar>
  <div [ngSwitch]="itinerary">
    <div *ngFor="let date of tripDates;">
      <ion-list class="absolute full-width" [@fadeInOut] *ngSwitchCase="date" padding-bottom text-wrap>
        <mytriplan-plan-item-sliding (open)="openPlan(plan)" (delete)="deletePlan(plan)" [plan]="plan" *ngFor="let plan of trip.getPlans({'date': date})"></mytriplan-plan-item-sliding>
        <ion-item *ngIf="!readonly">
          <button ion-button block outline (click)="openAddPlan(date)" aria-label="add plan to your itinerary">
            <ion-icon name="add" aria-hidden="true" item-start></ion-icon>&nbsp;
            Add plan
          </button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>