<ion-header>

  <ion-navbar>
    <ion-title>{{ trip.name }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="editTrip()" strong icon-only>
        <span color="primary" showWhen="ios">
          {{ 'EDIT_BUTTON' | translate }}
        </span>
        <ion-icon class="fa fa-pencil fa-w" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="trip-profile" #tripPic [style.background-image]="'url(' + trip.tripPic + ')'">
    <div class="trip-detail" padding>
      <h4>{{trip.name}}</h4>
      <ion-row clear>
        <ion-col start>{{trip.dateFrom | date: "MMM dd"}} - {{trip.dateTo | date: "MMM dd"}}</ion-col>
        <ion-chip color="primary" end>
          <ion-label>{{trip.daysLeft}} days to go</ion-label>
        </ion-chip>
      </ion-row>
    </div>
  </div>
  <ion-toolbar no-border-top class="trip-itinerary">
    <ion-scroll scrollX="true" style="height:45px" >
      <ion-segment [(ngModel)]="itinerary">
        <ion-segment-button value="{{i+1}}" *ngFor="let date of tripDates; let i = index ">{{date | date: "MMM dd"}}</ion-segment-button>
      </ion-segment>
    </ion-scroll>
  </ion-toolbar>

  <div [ngSwitch]="itinerary">
    <template ngFor let-date [ngForOf]="tripDates" let-i="index">
      <ion-list class="absolute" [@fadeInOut] *ngSwitchCase="i+1">
        <mytriplan-plan-item-sliding (open)="openPlan(plan)" (delete)="deletePlan(plan)" [plan]="plan" *ngFor="let plan of trip.getPlans({day: i+1})"></mytriplan-plan-item-sliding>
        <ion-item>
          <button ion-button block outline (click)="openAddPlan()" aria-label="add plan to your itinerary">
            <ion-icon name="add" aria-hidden="true" item-start></ion-icon>&nbsp;
            Add plan
          </button>
        </ion-item>
      </ion-list>
    </template>
  </div>
</ion-content>