page-trip-detail {
  ion-list[padding-bottom] {
    padding-bottom: 32px !important;
  }
  .trip-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 200px;
    position: relative;
  }

  .trip-detail {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
  }
  ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 70px;
      width: auto;
    }
  }

  ion-list.absolute {
    position:absolute;
    width: 100%;
  }
}
