<!-- Template for the FormComponent component -->
<form [formGroup]="form">
  <ion-list text-wrap>
    <ng-template ngFor let-field [ngForOf]="form.controls | objectKeysToArray">
      <ion-item *ngIf="!form.controls[field].controls && field!='type'">
        <ion-label fixed>{{field | beautifyString}}</ion-label>
        <ion-input *ngIf="!(field | isType:'date':'time':'address':'phoneNumber')" formControlName="{{field}}"></ion-input>
        <ion-input *ngIf="field | isType:'phonenumber'" type="tel" formControlName="{{field}}"></ion-input>
        <mytriplan-address *ngIf="field | isType:'address'" item-content [searchPlaceholder]="'SEARCH_ADDRESS_PLACEHOLDER' | translate" formControlName="{{field}}"></mytriplan-address>
        <ion-datetime *ngIf="field | isType:'time'" displayFormat="{{'DISPLAY_TIME_FORMAT' | translate}}" pickerFormat="{{'PICKER_TIME_FORMAT' | translate}}" formControlName="{{field}}"></ion-datetime>
        <mytriplan-date *ngIf="field | isType:'date'" item-content formControlName="{{field}}" [calendarTitle]="'DATE_CALENDAR_TITLE' | translate" [displayFormat]="'DISPLAY_DATE_FORMAT' | translate" [returnFormat]="'DATABASE_DATE_FORMAT' | translate" [from]="from" [to]="to" (success)="handleDate($event, field)"></mytriplan-date>
        <ion-textarea *ngIf="field | isType:'description'" formControlName="{{field}}"></ion-textarea>
      </ion-item>
      <div *ngIf="form.controls[field].controls" formGroupName="{{field}}">
        <ion-list-header color="primary">{{field | beautifyString}}</ion-list-header>
        <ion-item-group>
          <ion-item *ngFor="let f of form.controls[field].controls | objectKeysToArray">
            <ion-label fixed>{{f | beautifyString}}</ion-label>
            <ion-input *ngIf="!(f | isType:'date':'time':'address')" formControlName="{{f}}"></ion-input>
            <mytriplan-address *ngIf="f | isType:'address'" item-content [searchPlaceholder]="'SEARCH_ADDRESS_PLACEHOLDER' | translate" formControlName="{{f}}"></mytriplan-address>
            <ion-datetime *ngIf="f | isType:'time'" displayFormat="{{'DISPLAY_TIME_FORMAT' | translate}}" pickerFormat="{{'PICKER_TIME_FORMAT' | translate}}" formControlName="{{f}}"></ion-datetime>
            <mytriplan-date *ngIf="f | isType:'date'" item-content formControlName="{{f}}" [calendarTitle]="'DATE_CALENDAR_TITLE' | translate" [displayFormat]="'DISPLAY_DATE_FORMAT' | translate" [returnFormat]="'DATABASE_DATE_FORMAT' | translate" [from]="from" [to]="to" (success)="handleDate($event, field, f)"></mytriplan-date>
            <ion-textarea *ngIf="f | isType:'description'" formControlName="{{f}}"></ion-textarea>
          </ion-item>
        </ion-item-group>
      </div>
    </ng-template>
  </ion-list>
</form>