<ion-menu persistent="true" [content]="content">
  <ion-header>

    <ion-toolbar color="primary">
      <ion-title>
        {{ auth.getDisplayName() || ('MENU_TITLE' | translate) }}
        <button *ngIf="!auth.userLoggedIn" (click)="signIn()" color="light" float-right ion-button clear small no-padding no-margin>{{ 'SIGNIN' | translate }}</button>
        <button *ngIf="auth.userLoggedIn" (click)="signOut()" color="light" float-right ion-button clear small no-padding no-margin>{{ 'SIGNOUT' | translate }}</button>
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-list *ngIf="auth.userLoggedIn">
      <button menuClose ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>