// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.clear-background {
  background-color: transparent;
}
.dark-background {
  background-color: color($colors, dark);
}
.light-background {
  background-color: color($colors, light);
}
.primary-background {
  background-color: color($colors, primary);
}

.overlay-background {
  background-color: transparentize(black, 0.6);
}

.center-vertically {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quarter-vertically {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full-width {
  width: 100%;
}

.round-icon-placeholder {
  display: inline-block;
  position: relative;

  width: 96px;
  height: 96px;
  border-radius: 50%;
  text-align: center;

  ion-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Temporary solution to double tap issue
.input-cover {
  display: none;
}

.cursor-pointer input {
  cursor: pointer;
}

.datetime-md {
  margin-left: 8px !important;
  padding-left: 0 !important;
}
.datetime-ios {
  padding-left: 0 !important;
}
.datetime-wp {
  padding-left: 8px !important;
}

.invalid {
  border-bottom: 1px solid #ff6153;
}
