<ion-header>

  <ion-navbar>
    <ion-title (click)="presentDiscard()">{{ (mode === 'create'? 'TRIP_CREATE_TITLE': 'TRIP_EDIT_TITLE') | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()" *ngIf="mode=='edit'">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
      <button ion-button icon-only (click)="cancel()" *ngIf="mode=='create'">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="save()" [disabled]="!form.valid" strong *ngIf="mode=='create'">
        <span color="primary" showWhen="ios">
          {{ 'SAVE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
      <button ion-button (click)="save()" [disabled]="!form.valid || !unsavedChanges" strong icon-only *ngIf="mode=='edit'">
        <span color="primary" showWhen="ios">
          {{ 'SAVE_BUTTON' | translate }}
        </span>
        <ion-icon class="fa fa-save faw" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createTrip()">
    <mytriplan-picture [pictureUrl]="form.controls.tripPic.value" (success)="updateTripPhoto($event)"></mytriplan-picture>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'TRIP_NAME_PLACEHOLDER' | translate }}" formControlName="name" autocorrect="on" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="{{ 'TRIP_DESCRIPTION_PLACEHOLDER' | translate }}" formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header text-left color="light">Destination</ion-list-header>
      <ion-item>
        <mytriplan-address item-content [placeholder]="'TRIP_DESTINATION_PLACEHOLDER' | translate" [searchPlaceholder]="'SEARCH_TRIP_DESTINATION_PLACEHOLDER' | translate" formControlName="destination"></mytriplan-address>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-item ion-col>
            <ion-label floating>{{ 'TRIP_DATE_FROM_PLACEHOLDER' | translate }}</ion-label>
            <ion-input (click)="openCalendar()" readonly formControlName="dateFrom"></ion-input>
          </ion-item>
          <ion-item ion-col>
            <ion-label floating>{{ 'TRIP_DATE_TO_PLACEHOLDER' | translate }}</ion-label>
            <ion-input (click)="openCalendar()" readonly formControlName="dateTo"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>