.platform-core page-trip-list .button-md {
  width: 50%;
}

page-trip-list {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .button-clear.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
    }

    .button-ios, .button-md, .button-wp {
      height: auto;
      margin: 0;
      padding: 1px 7px 2px;
    }

    .card-image-overlay {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .4);
      background-size: 100% 100%;
    }

    .card-title {
      position: absolute;
      top: 45%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 59%;
      width: 100%;
      color: #fff;
    }

    .height-220 {
      height: 220px;
    }

    .width-100 {
      width: 100%;
    }

    .width-50 {
      width: 50%;
    }

    .width-25 {
      width: 25%;
    }

  }
}
